body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100%;
  }
  
  .Caja{
    display: relative;
    column-count: 2;
    justify-content: center;
    align-items: center;
    width: 30cm;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 40px;
    padding: 15px;
    margin: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow Bold', Arial, sans-serif;
    color: white;
    text-shadow: 2px 2px 2px #0c0c0c3b;
    box-shadow: 0px 0px 20px 0px aqua, 0px 0px 10px 0px aqua inset;
  }
  
  .Caja h1{
    margin: 3px;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  .imagen{
    height: 270px;
    width: 310px;
    border-radius: 20px;
    border: 4px solid white;
  }
  
  .titulos{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0px;
  }
  
  .info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30cm;
  }
  
  .description{
    text-decoration: none;
    width: 15cm;
    height: 8cm;
    overflow: auto;
    padding: 4px;
    font-size: 18px;
    text-align: justify;
    letter-spacing: 1px;
  }
  
  .btn{
    background-color: rgb(49, 49, 49);
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .btn:hover{
    background-color: white;
    color: black;
  }