.divBodyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 0px;
  width: 98vw;
  height: 97vh;
  background-color: #000000;
}

.titleContainer {
  color: aqua;
}

.divName {
  color: aqua;
}
.inputName {
  margin-bottom: 5px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 6px;
}

.inputName::placeholder {
  color: rgb(206, 206, 206);
}
.inputNameSelected {
  margin-bottom: 5px;
  background-color: rgb(0, 0, 0);
  color: rgb(151, 151, 151);
  border-radius: 6px;
}

.spanElementsGenres {
  display: inline-block;
  color: aqua;
}
.divNameGenresSelected {
  margin-top: 25px;
  color: aqua;
}

.spanShowSelectionButton {
  margin-top: 16px;
  color: rgb(211, 8, 8);
  background-color: #000000;
}
.buttons{
    background-color: #000000;
    color: aqua;
    border-radius: 4px;
}
.buttons:hover{
    background-color: aliceblue;
    color: black;
    cursor: pointer;
}

.buttonsBack:hover{
    background-color: aliceblue;
    color: black;
    cursor: pointer;
}
.buttonsBacks {
    background-color: #000000;
    color: aqua;
    border-radius: 4px;
}


/* .cajaTituloHuno{
    font-family: 'Games', sans-serif;
    color: rgb(42, 149, 192);
    text-align: center;
}

.span{
    color:rgb(42, 149, 192);
    margin-left: 10px;
    margin-bottom: 5px;
    vertical-align: 1px;
    
    

}

.releaseBox{
    margin-left: 20px;
}

.spanRelease{
    color:rgb(42, 149, 192);
    margin-left: -56px;
    margin-bottom: 5px;
    vertical-align: 1px;
  
}

.spanDescription{
    background-color: transparent;
    margin-bottom: 10px;
    color: rgb(134, 30, 30);
    background-color: rgb(112, 117, 117);
    margin-left: 20px;
    color:rgb(42, 149, 192);
    margin-left: 10px;
    margin-bottom: 5px;
    vertical-align: -14px;
}

.divContainerBox{
    text-align: center;
    
    
}

.box{
    background-color: transparent;
    margin-bottom: 10px;
    color: rgb(134, 30, 30);
    background-color: rgb(112, 117, 117);
    margin-left: 44px;
} */
